@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --primary-gold: #a28f57;
    --primary-white: #ffffff;
    --primary-black: #30373e;
    --primary-background: #060d27;
    --primary-light-border: #ebebeb;
    --primary-gray-background: #f3f4f7;
    --primary-sky: #0d60c8;
    --primary-whatsapp: #25d366;
    --primary-yellow: #ebb837;
    --primary-video-dark-green: #354837;
    --primary-link: #8ab4f8;
    --primary-box-shadow: 0px 3px 8px 0px rgb(170 170 170 / 20%);
    --primary-box-shadow-con: 0 0 15px rgb(0 0 0 / 10%);
    --primary-header-border-color: #ebebeb;
    --primary-light-font: #707070;
    --primary-font-family-roboto: "Roboto", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: var(--primary-font-family-roboto);
}

* {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/*=============new=============*/
.page_title {
    position: relative;
    font-size: 30px;
    font-family: var(--primary-font-family-roboto);
    margin-bottom: 50px;
    font-weight: 500;
    color: var(--primary-black);
}

.page_title::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    background: var(--primary-light-border);
    bottom: -10px;
    left: 0px;
}

/* display */
.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.j-s-b {
    justify-content: space-between;
}

.j-s-s {
    justify-content: flex-start;
}

.j-s-c {
    justify-content: center;
}

.j-s-e {
    justify-content: flex-end;
}

.a-i-c {
    align-items: center;
}

.a-i-f {
    align-items: flex-start;
}

/* margin */
.m-t-20 {
    margin-top: 20px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-60 {
    margin-bottom: 60px;
}

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-13 {
    margin-left: 13px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-l-50 {
    margin-left: 50px;
}

.m-l-60 {
    margin-left: 60px;
}

.m-l-70 {
    margin-left: 70px;
}

.m-l-80 {
    margin-left: 80px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-r-20 {
    margin-right: 20px;
}

/* padding */
.p-b-10 {
    padding-bottom: 10px;
}



/* header-css-starts */
.header_top {
    background: #000;
    width: 100%;
    height: 40px;
}

.header_top_subcon {
    width: 85%;
    margin: 0px auto;
}

.header_button {
    padding: 0px;
    background: transparent;
    position: relative;
    cursor: pointer;
    outline: 0px;
    border: none;
}

.header_top .fa-location-dot {
    color: var(--primary-white) !important;
    margin-right: 5px;
}

.header_button i {
    color: var(--primary-white) !important;
}

.car_ab {
    position: absolute;
    padding: 2px;
    background: #f82649;
    z-index: 9999;
    font-size: 8px;
    color: var(--primary-white);
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    bottom: 7px;
}

.header_pin {
    color: var(--primary-white);
}

.header_button_flag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.header_top_subcon li {
    border-right: 1px solid #3c3c3c;
    padding: 0px 20px;
}

.header_middile {
    width: 85%;
    margin: 0px auto;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo_middile_menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_middile_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.header_middile_menu a {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: var(--primary-black);
    font-size: 13px;
}

.header_middile_menu img {
    margin-right: 10px;
}

.header_down {
    box-shadow: 0 1px 6px 0 rgb(158 157 158 / 50%);
}

.header_down_sucon {
    width: 85%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_down_sucon li {
    padding: 15px 10px;
}

.header_down_sucon li a {
    font-size: 14px;
    color: var(--primary-black);
}

.header_search_input {
    height: 30px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_search_input input {
    height: 28px;
    width: calc(100% - 30px);
    border: none;
    outline: 0;
    font-family: var(--primary-font-family);
    border-left: 1px solid var(--primary-light-border);
    border-bottom: 1px solid var(--primary-light-border);
    border-top: 1px solid var(--primary-light-border);
    text-indent: 10px;
}

.header_search_input input::placeholder {
    font-family: var(--primary-font-family);
}

.header_search_input button {
    height: 100%;
    border: none;
    outline: 0;
    width: 30px;
    cursor: pointer;
    background: #000;
    color: var(--primary-gold);
}

.menu_link_hover {
    position: relative;
    transition: color 0.3s ease;
}

.menu_link_hover:hover {
    color: var(--primary-gold);
    transition: color 0.3s ease;
}

.menu_link_hover::before {
    position: absolute;
    height: 1px;
    width: 0%;
    content: "";
    bottom: -5px;
    left: 0px;
    background: var(--primary-gold);
    transition: width 0.2s ease-in-out;
}

.menu_link_hover:hover::before {
    width: 100%;
    transition: width 0.2s ease-in-out;
}

/* header-css-ends */

/* shop by brand */

.shopbypro {
    width: 100%;
}

.shopbypro_con {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.shopbypro_con_left {
    flex: 0 0 40%;
    max-width: 40%;
}

.shopbypro_con_right {
    flex: 0 0 calc(55% + 30px);
    max-width: calc(55% + 30px);
    position: relative;
    margin-right: -30px;
}

.shopbypro_con_right_slide_con {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.shopbypro_slide {
    flex: 0 0 calc(90% / 4);
    max-width: calc(90% / 4);
}

.shopbypro_con_left_con span {
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primary-gold);
    font-weight: 500;
}

.shopbypro_con_left_con p {
    font-size: 60px;
    width: 100%;
    font-weight: 600;
    padding: 30px 0px;
    font-family: CustomFont;
    color: var(--primary-black);
}

.pro_anchor {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--primary-gold);
    color: var(--primary-gold);
    transition: all 0.5s ease;
}

.pro_anchor:hover {
    background-color: var(--primary-gold);
    color: var(--primary-white);
    transition: all 0.5s ease;
}

.shopbypro_slide_con a {
    color: #000;
    position: relative;
}

.shopbypro_slide_con {
    margin-top: 20px;
}

.shopbypro_slide_con span {
    display: block;
    padding-bottom: 10px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    text-align: center;
    letter-spacing: 2px;
    font-family: "Noto Nastaliq Urdu", serif;
    line-height: 20px;
    background: rgba(255, 255, 255, 0.7);
}

.shopbypro {
    padding: 60px 0px;
}

.shopbypro_con_right_Ab {
    position: absolute;
    right: 0px;
    bottom: -50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shopbypro_con_right_Ab a {
    display: inline-block;
    height: 40px;
    width: 30px;
    background: #000;
    line-height: 40px;
    text-align: center;
    color: var(--primary-white);
}

.shopbypro_con_right_Ab a:hover {
    color: var(--primary-gold);
}

.shopbypro_slide_con_img {
    transition: transform 0.2s ease-in-out;
}

.shopbypro_slide_con:hover .shopbypro_slide_con_img {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

/* shop-by-brands-ends */


/* shop  by insta */
.shopby_insta {
    width: 100%;
}

.shopby_insta_con {
    width: 90%;
    margin: 0px auto;
    overflow: hidden;
}

.shopby_insta_con_slider_con {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shopby_insta_con_slide {
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
}

#affiliation {
    padding: 0px 0px 20px 0px;
    margin-top: -30px;
}

.affiliates {
    margin-top: 70px !important;
}


/* similar product */
.index_similar {
    width: 90% !important;
}

.home_slider .slick-initialized .slick-slide {
    margin-right: 0px !important;
}

/* why choose us */
.why_choose_us {
    width: 100%;
    padding: 90px 0px 70px 0px;
}

.why_choose_us_con {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.why_choose_us_con_slide {
    flex: 0 0 48%;
    max-width: 48%;
}

.why_choose_us_con_slide_title1 {
    text-transform: uppercase;
    font-family: var(--primary-font-family-roboto);
    font-size: 14px;
    color: var(--primary-gold);
    letter-spacing: 2px;
}

.why_choose_us_con_slide_title2 span {
    display: block;
    font-size: 90px;
    font-family: CustomFont;
    font-weight: 600;
    color: var(--primary-black);
    padding: 30px 0px;
}

.why_choose_us_con_slide p {
    font-size: 14px;
    line-height: 23px;
}

.why_choose_us_con_slide_title2 span:nth-child(2) {
    margin-left: 50px;
}

.why_choose_us_con_slide_title3 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
}

.why_choose_child {
    flex: 0 0 calc(90% / 3);
    max-width: calc(90% / 3);
    text-align: center;
}

.why_choose_child p {
    font-size: 16px;
    margin-top: 20px;
    color: var(--primary-black);
}

/* old gold exchange */
.old_gold_exchage {
    width: 100%;
    background: #F8F6F4;
    padding: 70px 0px 10px 0px;
}

.old_gold_exchage_sub_con {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.old_gold_exchage_sub_con_slide {
    flex: 0 0 45%;
    max-width: 45%;
}

.ogep_title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--primary-gold);
    padding-bottom: 30px;
}

.ogep_title2 {
    font-size: 40px;
    color: var(--primary-black);
    font-family: CustomFont;
    font-weight: 700;
    line-height: 50px;
}

.old_gold_exchage_sub_con_slide3 {
    flex: 0 0 30%;
    max-width: 30%;
    font-size: 15px;
    line-height: 24px;
}

.old_gold_exchage_sub_con_slide2 {
    flex: 0 0 10%;
    max-width: 10%;
}

.old_gold_exchage_markquee {
    width: 90%;
    margin: 0px auto;
    margin-bottom: 50px;
    font-size: 16px;
    margin-top: 10px;
}




/* Shine */
.figure {
    position: relative;
    overflow: hidden;
}

.index_similar_con {
    padding: 60px 0px 120px 0px !important;
}

.figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.figure:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}




/* shop by brand */
.shopbybrand {
    padding: 60px 0px;
    width: 100%;
}

.shopbybrand_con {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.shopbybrand_con_slide {
    flex: 0 0 calc(97% / 3);
    max-width: calc(97% / 3);
    height: 100%;
    margin-bottom: auto;
    position: relative;
}

.shopbybrand_con_slide_bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}

.bannercon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.shopbybrand_con_slide a {
    position: relative;
    color: #000;
    transition: color 0.5s ease-in-out;
}

.shopbybrand_con_slide_title {
    position: absolute;
    bottom: 50px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    font-family: "Noto Nastaliq Urdu", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
}

.shopbybrand_con_slide a:hover {
    color: var(--primary-gold);
    transition: color 0.5s ease-in-out;
}


/* shop by brands-ends */

/* schedule appointment */
.appointment_pin {
    width: 100%;
    background: url('../bg/banner4.webp');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 80px;
}

.appointment_pin_con {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appointment_pin_con_slide {
    flex: 0 0 45%;
    max-width: 45%;
}

.appointment_pin_con_slide p {
    font-size: 40px;
    font-family: CustomFont;
    font-weight: 700;
    color: var(--primary-black);
    margin-bottom: 20px;
    line-height: 60px;
}

.appointment_pin_con_slide_img {
    display: flex;
    justify-content: flex-end;
    margin: 70px 0px;
}



/* subscribe us */
.news_letter {
    width: 100%;
    padding: 70px 0px 0px 0px;
}

.news_letter_con {
    width: 90%;
    margin: 0px auto;
}

.news_letter_con_title2 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.news_letter_con .testimonials_title {
    margin: 0px !important;
}

.news_letter_input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.news_letter_input input {
    height: 40px;
    border: 1px solid var(--primary-light-border);
    outline: 0;
    width: 300px;
    padding: 0px 20px;
    font-family: var(--primary-font-family-roboto);
}

.button_black {
    height: 40px;
    width: 130px;
    background: #000;
    color: #fff;
    font-family: var(--primary-font-family-roboto);
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    transition: color 0.2s ease-in-out;
}

.button_black:hover {
    color: var(--primary-gold);
    transition: color 0.2s ease-in-out;
}


/* testimonials */
.testimonials {
    background: url("../bg/banner1.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    padding: 70px 0px;
}

.testimonials_con {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.testimonials_con_slide {
    /* flex: 0 0 calc(90% / 3);
    max-width: calc(90% / 3); */
    text-align: center;
}

.testimonials_con_slide_rating {
    padding: 20px 0px;
}

.testimonials_con_slide_rating i {
    color: #edc128;
}

.testimonials_con_slide p {
    color: var(--primary-black);
    line-height: 23px;
    width: 90%;
    margin: 0px auto;
}

.testimonials_con_slide span {
    font-size: 20px;
    display: block;
    margin-top: 10px;
}

.testimonials_con_slide img {
    margin: 0px auto;
}

.testimonials_title {
    text-align: center;
    margin-bottom: 70px;
}

.testimonials_title span {
    font-size: 40px;
    color: var(--primary-black);
    position: relative;
    font-family: CustomFont;
    font-weight: 700;
}

.testimonials_title span::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 70px;
    bottom: -15px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    background: var(--primary-light-border);
}

.anchor_black {
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
}

.anchor_black:hover {
    color: var(--primary-white);
    background-color: var(--primary-gold);
    transition: all 0.2s ease-in-out;
}



/* similar product con */
.similar_product_con {
    width: 100%;
    padding: 60px 0px 50px 0px;
}

.similar_product_sub_con {
    width: 85%;
    margin: 0px auto;
}

.similar_product_sub_slide {
    padding-bottom: 20px;
    /* flex: 0 0 calc(90% / 4);
    max-width: calc(90% / 4); */
    cursor: pointer;
    border: 1px solid var(--primary-light-border);
    transition: padding-bottom 0.2s ease-in-out;
}

.similar_product_sub_slide_img {
    overflow: hidden;
    position: relative;
}

.similar_product_sub_slide_wishlist {
    position: absolute;
    top: 15px;
    right: 15px;
}

.similar_product_sub_slide_wishlist_button {
    background: transparent;
    border: none;
    outline: 0;
}

.similar_product_sub_slide_wishlist_button i {
    font-size: 20px;
    color: var(--primary-gold);
}

.similar_product_sub_slide a {
    width: 90%;
    margin: 0px auto;
    display: block;
    line-height: 20px;
    font-size: 14px;
    color: var(--primary-black);
    font-family: var(--primary-font-family-roboto);
    padding: 5px 0px;
    transition: color 0.5s ease;
}

.similar_product_sub_slide a:hover {
    color: var(--primary-gold);
    transition: color 0.5s ease;
}

.similar_product_sub_slide_rating i {
    font-size: 13px;
    color: var(--primary-yellow);
}

.similar_product_sub_slide_rating {
    width: 90%;
    margin: 0px auto;
}

.similar_product_sub_slide_price {
    width: 90%;
    margin: 0px auto;
}

.similar_product_sub_slide_price {
    position: relative;
    font-family: var(--primary-font-family-roboto);
}

.similar_product_sub_slide_price span:first-child {
    text-decoration: line-through;
    margin-right: 5px;
    color: var(--primary-light-font);
}

.similar_product_sub_slide_price_ab {
    height: 30px;
    width: 100%;
    background: var(--primary-white);
    position: absolute;
    bottom: -35px;
    left: 0px;
    padding: 5px 0px;
    display: none;
    transition: bottom 0.2s ease-in-out;
}

.similar_product_sub_slide_price_cart {
    height: 100%;
    width: 120px;
    border: none;
    outline: none;
    color: var(--primary-white);
    cursor: pointer;
    font-family: var(--primary-font-family-roboto);
    background: var(--primary-gold);
    transition: background 0.3s ease-in-out;
}

.similar_product_sub_slide_price_cart i {
    margin-right: 5px;
}

.similar_product_sub_slide_price_cart:hover {
    background-color: #71643c;
    transition: background 0.3s ease-in-out;
}

.similar_product_sub_slide:hover .similar_product_sub_slide_price_ab {
    display: block;
    bottom: -20px;
    transition: bottom 0.2s ease-in-out;
}

.similar_product_sub_slide:hover {
    padding-bottom: 40px;
    transition: padding-bottom 0.2s ease-in-out;
}

.similar_product_sub_slider_con {
    margin-top: 50px;
    width: calc(100% + 20px) !important;
    position: relative;
    margin-left: -10px !important;
}

.similar_product_sub_con {
    position: relative !important;
}

.similar_product_sub_slider_con {
    width: calc(100% + 30px) !important;
    margin-left: 0px !important;
}





/* footer design */
.footer {
    width: 100%;
    background-color: #000;
    padding-top: 70px;
}

.footer_top_con {
    width: 85%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_top_con h3 {
    position: relative;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--primary-white);
    padding-bottom: 10px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.footer_top_con h3::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 30px;
    bottom: 0px;
    left: 0px;
    background-color: #888;
}

.footer_top_con li {
    padding: 5px 0px;
}

.footer_top_con li a {
    color: #fff;
    font-size: 14px;
    font-family: var(--primary-font);
    display: inline-block;
    font-weight: 300;
    transition: color 0.5s ease;
}

.footer_top_con li a:hover {
    color: var(--primary-gold);
    transition: color 0.5s ease;
}



.footer_address li {
    color: #fff;
    font-size: 13px;
}

.footer_address li span {
    margin-right: 10px;
    color: #fff;
}

.footeremail {
    margin-top: 10px;
}

.footer_bottom_con {
    background-color: #fff;
    width: 100%;
    margin-top: 60px;
}

.footer_bottom_subcon {
    width: 85%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.footer_bottom_left {
    font-size: 13px;
}

/* website templete */
.webtitle {
    width: 100%;
}

.gemstone_title {
    width: 50%;
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.webtitle_con {
    position: relative;
    overflow: hidden;
}

.webtitle_con_ab {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
}

.webtitle_con_ab_div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.webtitle_con_ab span {
    color: #fff;
    font-size: 70px;
    font-family: var(--primary-font-title);
    font-weight: 500;
}

.webtitle_matter {
    color: #fff;
    font-size: 13px;
    display: block;
    margin-top: 10px;
}

.webtitle_matter_anchor {
    margin-top: 10px;
    color: #fff;
}

.webtitle_matter_anchor a {
    color: var(--primary-gold);
}

.webtitle_matter_anchor a {
    position: relative;
    z-index: 99;
}

/* footer-ends */

